@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Well hello my friend!</h1>
    <p>Welcome to continuous exercise page!</p>
    <img src="https://lh3.googleusercontent.com/UaP120_OALwiwUzvOE0qrZfHNKi8QB5QyvqvhigfKcFulsLCH3xe4xejxIzhGeoXYTKqAt9LE4ikrt4HOgM-XuSrcGwunAboND79_UMq76k-lumw6xhp1vtaMWbLBMxiBNxdPuLYhHMbHBYXhLap58C2TNqpePeKTapgJiJGqpNvTblofX9-E20crKHCsTd8VTZg6bqc9H6VnxQ5Z0A8Yni9SrKMb5sT4yO1o7OUy4vNKhIDItKnOImbrHfadM6khK-wIQx897cV-CTghriHkvpI3SixJ1V04HZot0BnyotXmxQRC9kWmW_WXQS_mE3RmHwgwDDX9AmWBnPTHwzMVVnZoTtXKTftpq5eImaLqN9xkfgSzcSJ02vrZgXncxNDnaMtNqd0o69QD9cqjfOCsiJY-YfaK6bH2ZbkmZvuI-SLR50zl5jfD3uIMYvcxaX6K6zLIAVGYw6s9hmllgCTdRgCeU3sP4QHTqfOyM12zwYUsP6xrGQ8WJk2_U66T5CINlLQqOv4T6cZWo6K3JgsCrw2n6D3eB4M-8lPqCyjyVGeqdI0FvCPdL79TfUR9Llu-Zb_UbXlDDmEQJioQ5RLyXyPH6i6g8Ufq9OYoymk5LqiTQZjLRg2sKKEvdj2carSiM2qnCR0maEd1HiHxZ9_Xyc-7zrL1B7JqvGHisQC0PVXmRNDqtDjYyES=w658-h875-no"/>
    <img src="https://lh3.googleusercontent.com/UqnsuuqsSsRmnmGPHNdRA-hsqfuDGqWODY8uNnsw6NMKAn20a08TKV7Ekm9OOdQGP-D0y6ZKEh9X3b__49DRfmbvn1N5-cHWUYbAeKOW0zeVm0VTgHSu96W0R_QsMVRZAzr5oHDYNCNsMuNHifIMPzETGQEJ3_fvI4jYqetQcDk3ebIpan0UmzBOk_lMy4UXrQ-2XxmZXIAOlbYX5nLe_8MrX0lenb-z_nFO6dJwWoiSGej15tXs4Zh-TdTF5-Q2U6t7vcwe7bSKmxwfBlnUYW0-FSGdljSx3rb7HHgUPDTNwde3tQb_xguINaRVivttNmyslIG6yLbzKwMpq9R81nBLrC0pGP63PMf4TAyiD8CZzILTnFAxonV6W_o_cg-DyUx4KyALQfRIyN7okOXYYkO0QzbClbPRYLpTfJAs_FJVKDJncGuT42pRpeCI-ApGFrv5wcRdGrw4P3g4uI5mSntS20wze5K9JVABDS1vB0leLZmiAXz8jEGceIvgy7SOFsyM0FUvLQoSYjn7_wKd7AGY5U27xxdQL6gt2cHSXpSvezfZoBKZrwBPCgadCbCIni7L68gn672plHyU4f7vsFaYqd-o7O_Sgs_jZ4xiku-BHNmY_HfIP6dFkqootjA8QSQSBE89dM1a00HCwWAUKQzLL0-mhWi2z2wWXHFqeosjm1lJnCJ6hUGb=w1183-h789-no"/>
</div>
